@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --font-primary: "Rajdhani", sans-serif;
  --font-secondary:"Rubik", sans-serif; 
  --font-tertiary: "Inter", sans-serif; 
}

@layer utilities {
  .container {
     @apply max-w-322.5 mx-auto;
  }
}
@layer utilities {
  .cardcontainer {
     @apply max-w-81.25 mx-auto;
  }
}